/* General Body Styles */
body {
  background-color: #f8f9fa; /* Light background for a cleaner look */
}

/* Cart Page Styles */
.cart-page {
  margin: 3rem auto;
  max-width: 1200px; /* Limit the width of the page */
  padding: 0 1rem;
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.card {
  background-color: white;
  border-radius: 8px;
  max-height: 400px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(25% - 0.5rem); /* Adjust for spacing */
  margin-bottom: 1rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  height: 180px;
  object-fit: fill;
  width: 100%;
}

.card-body {
  padding: 1rem;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-description {
  font-size: 0.875rem;
  color: #666;
  margin-bottom: 0.5rem;
}

.card-price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
}

.btn-danger {
  margin-top: 0.5rem;
}

/* Cart Summary Section Styles */
.cart-summary {
  padding: 1rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-summary h2 {
  margin-bottom: 1rem;
}

.cart-summary button {
  width: 100%;
}


.footer-sapcing{
  margin-bottom: 200px;
}