/* Styling for footer container */
.footer-container {
    margin-bottom: 0;
    position: relative;
    text-align: center;
    color: white; /* Text color to contrast with the image */
  }
  
  .footer-image {
    width: 100%;
    height: auto; /* Adjust based on your needs */
    margin-bottom: 0;
  }
  
  .footer-content {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
  }
  